NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/web-dev-24
TEST_MONGO_URI=mongodb://localhost:27017/TEST-web-dev-24
SECRET=ec0c10987dba2b017ab2cd18f30603e2de1f12c6faa5cc871430cc5d38588517

# SECRET: Generate Random Hex e.g https://www.browserling.com/tools/random-hex